
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/login.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container  pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="~/AdminTemplate/assets/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile" class="legitRipple"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="legitRipple">
                        <i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to website</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="legitRipple">
                        <i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle legitRipple" data-toggle="dropdown">
                        <i class="icon-cog3"></i>
                        <span class="visible-xs-inline-block position-right"> Options</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container" style="min-height:240px">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <!-- Advanced login -->
                    <form >
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                                <h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
                            </div>

                            <div class="content-divider text-muted form-group"><span>Your credentials</span></div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="text" class="form-control" id="UserName" placeholder="UserName">
                                <div class="form-control-feedback">
                                    <i class="icon-user-check text-muted"></i>
                                </div>
                                @*<span class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> This username is already taken</span>*@
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" id="Password" placeholder="Create password">
                                <div class="form-control-feedback">
                                    <i class="icon-user-lock text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" id="RePassword" placeholder="Repeat Password">
                                <div class="form-control-feedback">
                                    <i class="icon-mention text-muted"></i>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="content-divider text-muted form-group"><span>Your privacy</span></div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="text" class="form-control" id="Email" placeholder="Your email">
                                <div class="form-control-feedback">
                                    <i class="icon-mention text-muted"></i>
                                </div>
                            </div>
                            <br />
                            <a onclick="Registeruser()" class="btn bg-pink-400 btn-block btn-lg legitRipple">Register <i class="icon-circle-right2 position-right"></i></a>
                        </div>
                    </form>
                    <!-- /advanced login -->
                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        © 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>
<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>


<script>
    function Registeruser() {

        var Email = $("#Email").val();
        var UserName = $("#UserName").val();
        var Password = $("#Password").val();
        var RePassword = $("#RePassword").val();

        var postData = {
            'Email': Email,
            'UserName' : UserName,
            'Password': Password,
            'RePassword': RePassword,
        };
        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "POST",
            url: "Signup",
            data: postData,
            success: function (data) {
                if (data.isSuccess == true) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        window.location.replace("Signin");;//window.location.replace("Home/Home");
                    });
                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    'خطا',
                    'warning'
                );
            }
        });
    }
</script>
