
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/selects/select2.min.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/datatables_extension_select.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->

</head>

<body class="pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <!-- Main navbar -->
    <div class="navbar navbar-default header-highlight">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="~/AdminTemplate/assets/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile" class="legitRipple"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle legitRipple"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs legitRipple"><i class="icon-paragraph-justify3"></i></a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                        <i class="icon-puzzle3"></i>
                        <span class="visible-xs-inline-block position-right">Git updates</span>
                        <span class="status-mark border-pink-300"></span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            Git updates
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body width-350">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-pull-request"></i></a>
                                </div>

                                <div class="media-body">
                                    Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                    <div class="media-annotation">4 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-commit"></i></a>
                                </div>

                                <div class="media-body">
                                    Add full font overrides for popovers and tooltips
                                    <div class="media-annotation">36 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-branch"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                    <div class="media-annotation">2 hours ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-merge"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                    <div class="media-annotation">Dec 18, 18:36</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-pull-request"></i></a>
                                </div>

                                <div class="media-body">
                                    Have Carousel ignore keyboard events
                                    <div class="media-annotation">Dec 12, 05:46</div>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="" data-original-title="All activity"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="navbar-right">
                <p class="navbar-text">Morning, Victoria!</p>
                <p class="navbar-text"><span class="label bg-success">Online</span></p>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                            <i class="icon-bell2"></i>
                            <span class="visible-xs-inline-block position-right">Activity</span>
                            <span class="status-mark border-pink-300"></span>
                        </a>

                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                Activity
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-menu7"></i></a></li>
                                </ul>
                            </div>

                            <ul class="media-list dropdown-content-body width-350">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-mention"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                        <div class="media-annotation">4 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-pink-400 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-paperplane"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                        <div class="media-annotation">36 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-blue btn-rounded btn-icon btn-xs legitRipple"><i class="icon-plus3"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch in <span class="text-semibold">Limitless</span> repository
                                        <div class="media-annotation">2 hours ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-purple-300 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-truck"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Shipping cost to the Netherlands has been reduced, database updated
                                        <div class="media-annotation">Feb 8, 11:30</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-warning-400 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-bubble8"></i></a>
                                    </div>

                                    <div class="media-body">
                                        New review received on <a href="#">Server side integration</a> services
                                        <div class="media-annotation">Feb 2, 10:20</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-spinner11"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <strong>January, 2016</strong> - 1320 new users, 3284 orders, $49,390 revenue
                                        <div class="media-annotation">Feb 1, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                            <i class="icon-bubble8"></i>
                            <span class="visible-xs-inline-block position-right">Messages</span>
                            <span class="status-mark border-pink-300"></span>
                        </a>

                        <div class="dropdown-menu dropdown-content width-350">
                            <div class="dropdown-content-heading">
                                Messages
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-compose"></i></a></li>
                                </ul>
                            </div>

                            <ul class="media-list dropdown-content-body">
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                        <span class="badge bg-danger-400 media-badge">5</span>
                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">James Alexander</span>
                                            <span class="media-annotation pull-right">04:58</span>
                                        </a>

                                        <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                        <span class="badge bg-danger-400 media-badge">4</span>
                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">Margo Baker</span>
                                            <span class="media-annotation pull-right">12:16</span>
                                        </a>

                                        <span class="text-muted">That was something he was unable to do because...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left"><img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">Jeremy Victorino</span>
                                            <span class="media-annotation pull-right">22:48</span>
                                        </a>

                                        <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left"><img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">Beatrix Diaz</span>
                                            <span class="media-annotation pull-right">Tue</span>
                                        </a>

                                        <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left"><img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">Richard Vango</span>
                                            <span class="media-annotation pull-right">Mon</span>
                                        </a>

                                        <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                    </div>
                                </li>
                            </ul>

                            <div class="dropdown-content-footer">
                                <a href="#" data-popup="tooltip" title="" data-original-title="All messages"><i class="icon-menu display-block"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container" style="min-height:240px">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">

                    <!-- User menu -->
                    <div class="sidebar-user-material">
                        <div class="category-content">
                            <div class="sidebar-user-material-content">
                                <a href="#" class="legitRipple"><img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-responsive" alt=""></a>
                                <h6>Victoria Baker</h6>
                                <span class="text-size-small">Santa Ana, CA</span>
                            </div>

                            <div class="sidebar-user-material-menu">
                                <a href="#user-nav" data-toggle="collapse" class="legitRipple"><span>My account</span> <i class="caret"></i></a>
                            </div>
                        </div>

                        <div class="navigation-wrapper collapse" id="user-nav">
                            <ul class="navigation">
                                <li><a href="#" class="legitRipple"><i class="icon-user-plus"></i> <span>My profile</span></a></li>
                                <li><a href="#" class="legitRipple"><i class="icon-coins"></i> <span>My balance</span></a></li>
                                <li><a href="#" class="legitRipple"><i class="icon-comment-discussion"></i> <span><span class="badge bg-teal-400 pull-right">58</span> Messages</span></a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="legitRipple"><i class="icon-cog5"></i> <span>Account settings</span></a></li>
                                <li><a href="#" class="legitRipple"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Tables -->
                                <li class="navigation-header"><span>Tables</span> <i class="icon-menu" title="" data-original-title="Tables"></i></li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-table2"></i> <span>Basic tables</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="table_basic.html" class="legitRipple">Basic examples</a></li>
                                        <li><a href="table_sizing.html" class="legitRipple">Table sizing</a></li>
                                        <li><a href="table_borders.html" class="legitRipple">Table borders</a></li>
                                        <li><a href="table_styling.html" class="legitRipple">Table styling</a></li>
                                        <li><a href="table_elements.html" class="legitRipple">Table elements</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Home/Projects" class="has-ul legitRipple"><i class="icon-grid7"></i> <span>Projects</span></a>
                                    @*<ul class="hidden-ul">
                                            <li><a href="datatable_basic.html" class="legitRipple">Basic initialization</a></li>
                                            <li><a href="datatable_styling.html" class="legitRipple">Basic styling</a></li>
                                            <li><a href="datatable_advanced.html" class="legitRipple">Advanced examples</a></li>
                                            <li><a href="datatable_sorting.html" class="legitRipple">Sorting options</a></li>
                                            <li><a href="datatable_api.html" class="legitRipple">Using API</a></li>
                                            <li><a href="datatable_data_sources.html" class="legitRipple">Data sources</a></li>
                                        </ul>*@
                                </li>
                                <li class="active">
                                    <a href="#" class="has-ul legitRipple"><i class="icon-alignment-unalign"></i> <span>Data tables extensions</span></a>
                                    <ul>
                                        <li><a href="datatable_extension_reorder.html" class="legitRipple">Columns reorder</a></li>
                                        <li><a href="datatable_extension_row_reorder.html" class="legitRipple">Row reorder</a></li>
                                        <li><a href="datatable_extension_fixed_columns.html" class="legitRipple">Fixed columns</a></li>
                                        <li><a href="datatable_extension_fixed_header.html" class="legitRipple">Fixed header</a></li>
                                        <li><a href="datatable_extension_autofill.html" class="legitRipple">Auto fill</a></li>
                                        <li><a href="datatable_extension_key_table.html" class="legitRipple">Key table</a></li>
                                        <li><a href="datatable_extension_scroller.html" class="legitRipple">Scroller</a></li>
                                        <li class="active"><a href="datatable_extension_select.html" class="legitRipple">Select</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Buttons</a>
                                            <ul class="hidden-ul">
                                                <li><a href="datatable_extension_buttons_init.html" class="legitRipple">Initialization</a></li>
                                                <li><a href="datatable_extension_buttons_flash.html" class="legitRipple">Flash buttons</a></li>
                                                <li><a href="datatable_extension_buttons_print.html" class="legitRipple">Print buttons</a></li>
                                                <li><a href="datatable_extension_buttons_html5.html" class="legitRipple">HTML5 buttons</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="datatable_extension_colvis.html" class="legitRipple">Columns visibility</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-file-spreadsheet"></i> <span>Handsontable</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="handsontable_basic.html" class="legitRipple">Basic configuration</a></li>
                                        <li><a href="handsontable_advanced.html" class="legitRipple">Advanced setup</a></li>
                                        <li><a href="handsontable_cols.html" class="legitRipple">Column features</a></li>
                                        <li><a href="handsontable_cells.html" class="legitRipple">Cell features</a></li>
                                        <li><a href="handsontable_types.html" class="legitRipple">Basic cell types</a></li>
                                        <li><a href="handsontable_custom_checks.html" class="legitRipple">Custom &amp; checkboxes</a></li>
                                        <li><a href="handsontable_ac_password.html" class="legitRipple">Autocomplete &amp; password</a></li>
                                        <li><a href="handsontable_search.html" class="legitRipple">Search</a></li>
                                        <li><a href="handsontable_context.html" class="legitRipple">Context menu</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-versions"></i> <span>Responsive options</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="table_responsive.html" class="legitRipple">Responsive basic tables</a></li>
                                        <li><a href="datatable_responsive.html" class="legitRipple">Responsive data tables</a></li>
                                    </ul>
                                </li>
                                <!-- /tables -->
                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="" data-original-title="Main pages"></i></li>
                                <li><a href="index.html" class="legitRipple"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-stack2"></i> <span>Page layouts</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="layout_navbar_fixed.html" class="legitRipple">Fixed navbar</a></li>
                                        <li><a href="layout_navbar_sidebar_fixed.html" class="legitRipple">Fixed navbar &amp; sidebar</a></li>
                                        <li><a href="layout_sidebar_fixed_native.html" class="legitRipple">Fixed sidebar native scroll</a></li>
                                        <li><a href="layout_navbar_hideable.html" class="legitRipple">Hideable navbar</a></li>
                                        <li><a href="layout_navbar_hideable_sidebar.html" class="legitRipple">Hideable &amp; fixed sidebar</a></li>
                                        <li><a href="layout_footer_fixed.html" class="legitRipple">Fixed footer</a></li>
                                        <li class="navigation-divider"></li>
                                        <li><a href="boxed_default.html" class="legitRipple">Boxed with default sidebar</a></li>
                                        <li><a href="boxed_mini.html" class="legitRipple">Boxed with mini sidebar</a></li>
                                        <li><a href="boxed_full.html" class="legitRipple">Boxed full width</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-copy"></i> <span>Layouts</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="../../../layout_1/LTR/default/index.html" id="layout1" class="legitRipple">Layout 1</a></li>
                                        <li><a href="index.html" id="layout2" class="legitRipple">Layout 2 <span class="label bg-warning-400">Current</span></a></li>
                                        <li><a href="../../../layout_3/LTR/default/index.html" id="layout3" class="legitRipple">Layout 3</a></li>
                                        <li><a href="../../../layout_4/LTR/default/index.html" id="layout4" class="legitRipple">Layout 4</a></li>
                                        <li><a href="../../../layout_5/LTR/default/index.html" id="layout5" class="legitRipple">Layout 5</a></li>
                                        <li class="disabled"><a href="../../../layout_6/LTR/default/index.html" id="layout6" class="legitRipple">Layout 6 <span class="label label-transparent">Coming soon</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-droplet2"></i> <span>Color system</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="colors_primary.html" class="legitRipple">Primary palette</a></li>
                                        <li><a href="colors_danger.html" class="legitRipple">Danger palette</a></li>
                                        <li><a href="colors_success.html" class="legitRipple">Success palette</a></li>
                                        <li><a href="colors_warning.html" class="legitRipple">Warning palette</a></li>
                                        <li><a href="colors_info.html" class="legitRipple">Info palette</a></li>
                                        <li class="navigation-divider"></li>
                                        <li><a href="colors_pink.html" class="legitRipple">Pink palette</a></li>
                                        <li><a href="colors_violet.html" class="legitRipple">Violet palette</a></li>
                                        <li><a href="colors_purple.html" class="legitRipple">Purple palette</a></li>
                                        <li><a href="colors_indigo.html" class="legitRipple">Indigo palette</a></li>
                                        <li><a href="colors_blue.html" class="legitRipple">Blue palette</a></li>
                                        <li><a href="colors_teal.html" class="legitRipple">Teal palette</a></li>
                                        <li><a href="colors_green.html" class="legitRipple">Green palette</a></li>
                                        <li><a href="colors_orange.html" class="legitRipple">Orange palette</a></li>
                                        <li><a href="colors_brown.html" class="legitRipple">Brown palette</a></li>
                                        <li><a href="colors_grey.html" class="legitRipple">Grey palette</a></li>
                                        <li><a href="colors_slate.html" class="legitRipple">Slate palette</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-stack"></i> <span>Starter kit</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="starters/horizontal_nav.html" class="legitRipple">Horizontal navigation</a></li>
                                        <li><a href="starters/1_col.html" class="legitRipple">1 column</a></li>
                                        <li><a href="starters/2_col.html" class="legitRipple">2 columns</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">3 columns</a>
                                            <ul class="hidden-ul">
                                                <li><a href="starters/3_col_dual.html" class="legitRipple">Dual sidebars</a></li>
                                                <li><a href="starters/3_col_double.html" class="legitRipple">Double sidebars</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="starters/4_col.html" class="legitRipple">4 columns</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Detached layout</a>
                                            <ul class="hidden-ul">
                                                <li><a href="starters/detached_left.html" class="legitRipple">Left sidebar</a></li>
                                                <li><a href="starters/detached_right.html" class="legitRipple">Right sidebar</a></li>
                                                <li><a href="starters/detached_sticky.html" class="legitRipple">Sticky sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="starters/layout_boxed.html" class="legitRipple">Boxed layout</a></li>
                                        <li class="navigation-divider"></li>
                                        <li><a href="starters/layout_navbar_fixed_main.html" class="legitRipple">Fixed main navbar</a></li>
                                        <li><a href="starters/layout_navbar_fixed_secondary.html" class="legitRipple">Fixed secondary navbar</a></li>
                                        <li><a href="starters/layout_navbar_fixed_both.html" class="legitRipple">Both navbars fixed</a></li>
                                        <li><a href="starters/layout_fixed.html" class="legitRipple">Fixed layout</a></li>
                                    </ul>
                                </li>
                                <li><a href="changelog.html" class="legitRipple"><i class="icon-list-unordered"></i> <span>Changelog <span class="label bg-blue-400">1.6</span></span></a></li>
                                <li><a href="../../RTL/default/index.html" class="legitRipple"><i class="icon-width"></i> <span>RTL version</span></a></li>
                                <!-- /main -->
                                <!-- Forms -->
                                <li class="navigation-header"><span>Forms</span> <i class="icon-menu" title="" data-original-title="Forms"></i></li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-pencil3"></i> <span>Form components</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="form_inputs_basic.html" class="legitRipple">Basic inputs</a></li>
                                        <li><a href="form_checkboxes_radios.html" class="legitRipple">Checkboxes &amp; radios</a></li>
                                        <li><a href="form_input_groups.html" class="legitRipple">Input groups</a></li>
                                        <li><a href="form_controls_extended.html" class="legitRipple">Extended controls</a></li>
                                        <li><a href="form_floating_labels.html" class="legitRipple">Floating labels</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Selects</a>
                                            <ul class="hidden-ul">
                                                <li><a href="form_select2.html" class="legitRipple">Select2 selects</a></li>
                                                <li><a href="form_multiselect.html" class="legitRipple">Bootstrap multiselect</a></li>
                                                <li><a href="form_select_box_it.html" class="legitRipple">SelectBoxIt selects</a></li>
                                                <li><a href="form_bootstrap_select.html" class="legitRipple">Bootstrap selects</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="form_tag_inputs.html" class="legitRipple">Tag inputs</a></li>
                                        <li><a href="form_dual_listboxes.html" class="legitRipple">Dual Listboxes</a></li>
                                        <li><a href="form_editable.html" class="legitRipple">Editable forms</a></li>
                                        <li><a href="form_validation.html" class="legitRipple">Validation</a></li>
                                        <li><a href="form_inputs_grid.html" class="legitRipple">Inputs grid</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-file-css"></i> <span>JSON forms</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="alpaca_basic.html" class="legitRipple">Basic inputs</a></li>
                                        <li><a href="alpaca_advanced.html" class="legitRipple">Advanced inputs</a></li>
                                        <li><a href="alpaca_controls.html" class="legitRipple">Controls</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-footprint"></i> <span>Wizards</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="wizard_steps.html" class="legitRipple">Steps wizard</a></li>
                                        <li><a href="wizard_form.html" class="legitRipple">Form wizard</a></li>
                                        <li><a href="wizard_stepy.html" class="legitRipple">Stepy wizard</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-spell-check"></i> <span>Editors</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="editor_summernote.html" class="legitRipple">Summernote editor</a></li>
                                        <li><a href="editor_ckeditor.html" class="legitRipple">CKEditor</a></li>
                                        <li><a href="editor_wysihtml5.html" class="legitRipple">WYSIHTML5 editor</a></li>
                                        <li><a href="editor_code.html" class="legitRipple">Code editor</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-select2"></i> <span>Pickers</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="picker_date.html" class="legitRipple">Date &amp; time pickers</a></li>
                                        <li><a href="picker_color.html" class="legitRipple">Color pickers</a></li>
                                        <li><a href="picker_location.html" class="legitRipple">Location pickers</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-insert-template"></i> <span>Form layouts</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="form_layout_vertical.html" class="legitRipple">Vertical form</a></li>
                                        <li><a href="form_layout_horizontal.html" class="legitRipple">Horizontal form</a></li>
                                    </ul>
                                </li>
                                <!-- /forms -->
                                <!-- Appearance -->
                                <li class="navigation-header"><span>Appearance</span> <i class="icon-menu" title="" data-original-title="Appearance"></i></li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-grid"></i> <span>Components</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="components_modals.html" class="legitRipple">Modals</a></li>
                                        <li><a href="components_dropdowns.html" class="legitRipple">Dropdown menus</a></li>
                                        <li><a href="components_tabs.html" class="legitRipple">Tabs component</a></li>
                                        <li><a href="components_pills.html" class="legitRipple">Pills component</a></li>
                                        <li><a href="components_navs.html" class="legitRipple">Accordion and navs</a></li>
                                        <li><a href="components_buttons.html" class="legitRipple">Buttons</a></li>
                                        <li><a href="components_notifications_pnotify.html" class="legitRipple">PNotify notifications</a></li>
                                        <li><a href="components_notifications_others.html" class="legitRipple">Other notifications</a></li>
                                        <li><a href="components_popups.html" class="legitRipple">Tooltips and popovers</a></li>
                                        <li><a href="components_alerts.html" class="legitRipple">Alerts</a></li>
                                        <li><a href="components_pagination.html" class="legitRipple">Pagination</a></li>
                                        <li><a href="components_labels.html" class="legitRipple">Labels and badges</a></li>
                                        <li><a href="components_loaders.html" class="legitRipple">Loaders and bars</a></li>
                                        <li><a href="components_thumbnails.html" class="legitRipple">Thumbnails</a></li>
                                        <li><a href="components_page_header.html" class="legitRipple">Page header</a></li>
                                        <li><a href="components_breadcrumbs.html" class="legitRipple">Breadcrumbs</a></li>
                                        <li><a href="components_media.html" class="legitRipple">Media objects</a></li>
                                        <li><a href="components_affix.html" class="legitRipple">Affix and Scrollspy</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-puzzle2"></i> <span>Content appearance</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="appearance_content_panels.html" class="legitRipple">Content panels</a></li>
                                        <li><a href="appearance_panel_heading.html" class="legitRipple">Panel heading elements</a></li>
                                        <li><a href="appearance_panel_footer.html" class="legitRipple">Panel footer elements</a></li>
                                        <li><a href="appearance_draggable_panels.html" class="legitRipple">Draggable panels</a></li>
                                        <li><a href="appearance_text_styling.html" class="legitRipple">Text styling</a></li>
                                        <li><a href="appearance_typography.html" class="legitRipple">Typography</a></li>
                                        <li><a href="appearance_helpers.html" class="legitRipple">Helper classes</a></li>
                                        <li><a href="appearance_syntax_highlighter.html" class="legitRipple">Syntax highlighter</a></li>
                                        <li><a href="appearance_content_grid.html" class="legitRipple">Grid system</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-gift"></i> <span>Extra components</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="extra_sliders_noui.html" class="legitRipple">NoUI sliders</a></li>
                                        <li><a href="extra_sliders_ion.html" class="legitRipple">Ion range sliders</a></li>
                                        <li><a href="extra_session_timeout.html" class="legitRipple">Session timeout</a></li>
                                        <li><a href="extra_idle_timeout.html" class="legitRipple">Idle timeout</a></li>
                                        <li><a href="extra_trees.html" class="legitRipple">Dynamic tree views</a></li>
                                        <li><a href="extra_context_menu.html" class="legitRipple">Context menu</a></li>
                                        <li><a href="extra_fab.html" class="legitRipple">Floating action buttons</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-spinner2 spinner"></i> <span>Animations</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="animations_css3.html" class="legitRipple">CSS3 animations</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Velocity animations</a>
                                            <ul class="hidden-ul">
                                                <li><a href="animations_velocity_basic.html" class="legitRipple">Basic usage</a></li>
                                                <li><a href="animations_velocity_ui.html" class="legitRipple">UI pack effects</a></li>
                                                <li><a href="animations_velocity_examples.html" class="legitRipple">Advanced examples</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-thumbs-up2"></i> <span>Icons</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="icons_glyphicons.html" class="legitRipple">Glyphicons</a></li>
                                        <li><a href="icons_icomoon.html" class="legitRipple">Icomoon</a></li>
                                        <li><a href="icons_fontawesome.html" class="legitRipple">Font awesome</a></li>
                                    </ul>
                                </li>
                                <!-- /appearance -->
                                <!-- Layout -->
                                <li class="navigation-header"><span>Layout</span> <i class="icon-menu" title="" data-original-title="Layout options"></i></li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-indent-decrease2"></i> <span>Sidebars</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="sidebar_default_collapse.html" class="legitRipple">Default collapsible</a></li>
                                        <li><a href="sidebar_default_hide.html" class="legitRipple">Default hideable</a></li>
                                        <li><a href="sidebar_mini_collapse.html" class="legitRipple">Mini collapsible</a></li>
                                        <li><a href="sidebar_mini_hide.html" class="legitRipple">Mini hideable</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Dual sidebar</a>
                                            <ul class="hidden-ul">
                                                <li><a href="sidebar_dual.html" class="legitRipple">Dual sidebar</a></li>
                                                <li><a href="sidebar_dual_double_collapse.html" class="legitRipple">Dual double collapse</a></li>
                                                <li><a href="sidebar_dual_double_hide.html" class="legitRipple">Dual double hide</a></li>
                                                <li><a href="sidebar_dual_swap.html" class="legitRipple">Swap sidebars</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Double sidebar</a>
                                            <ul class="hidden-ul">
                                                <li><a href="sidebar_double_collapse.html" class="legitRipple">Collapse main sidebar</a></li>
                                                <li><a href="sidebar_double_hide.html" class="legitRipple">Hide main sidebar</a></li>
                                                <li><a href="sidebar_double_fix_default.html" class="legitRipple">Fix default width</a></li>
                                                <li><a href="sidebar_double_fix_mini.html" class="legitRipple">Fix mini width</a></li>
                                                <li><a href="sidebar_double_visible.html" class="legitRipple">Opposite sidebar visible</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Detached sidebar</a>
                                            <ul class="hidden-ul">
                                                <li><a href="sidebar_detached_left.html" class="legitRipple">Left position</a></li>
                                                <li><a href="sidebar_detached_right.html" class="legitRipple">Right position</a></li>
                                                <li><a href="sidebar_detached_sticky_custom.html" class="legitRipple">Sticky (custom scroll)</a></li>
                                                <li><a href="sidebar_detached_sticky_native.html" class="legitRipple">Sticky (native scroll)</a></li>
                                                <li><a href="sidebar_detached_separate.html" class="legitRipple">Separate categories</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="sidebar_hidden.html" class="legitRipple">Hidden sidebar</a></li>
                                        <li><a href="sidebar_light.html" class="legitRipple">Light sidebar</a></li>
                                        <li><a href="sidebar_components.html" class="legitRipple">Sidebar components</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-sort"></i> <span>Vertical navigation</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="navigation_vertical_collapsible.html" class="legitRipple">Collapsible menu</a></li>
                                        <li><a href="navigation_vertical_accordion.html" class="legitRipple">Accordion menu</a></li>
                                        <li><a href="navigation_vertical_sizing.html" class="legitRipple">Navigation sizing</a></li>
                                        <li><a href="navigation_vertical_bordered.html" class="legitRipple">Bordered navigation</a></li>
                                        <li><a href="navigation_vertical_right_icons.html" class="legitRipple">Right icons</a></li>
                                        <li><a href="navigation_vertical_labels_badges.html" class="legitRipple">Labels and badges</a></li>
                                        <li><a href="navigation_vertical_disabled.html" class="legitRipple">Disabled navigation links</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-transmission"></i> <span>Horizontal navigation</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="navigation_horizontal_click.html" class="legitRipple">Submenu on click</a></li>
                                        <li><a href="navigation_horizontal_hover.html" class="legitRipple">Submenu on hover</a></li>
                                        <li><a href="navigation_horizontal_elements.html" class="legitRipple">With custom elements</a></li>
                                        <li><a href="navigation_horizontal_tabs.html" class="legitRipple">Tabbed navigation</a></li>
                                        <li><a href="navigation_horizontal_disabled.html" class="legitRipple">Disabled navigation links</a></li>
                                        <li><a href="navigation_horizontal_mega.html" class="legitRipple">Horizontal mega menu</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-menu3"></i> <span>Navbars</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="navbar_single.html" class="legitRipple">Single navbar</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Multiple navbars</a>
                                            <ul class="hidden-ul">
                                                <li><a href="navbar_multiple_navbar_navbar.html" class="legitRipple">Navbar + navbar</a></li>
                                                <li><a href="navbar_multiple_navbar_header.html" class="legitRipple">Navbar + header</a></li>
                                                <li><a href="navbar_multiple_header_navbar.html" class="legitRipple">Header + navbar</a></li>
                                                <li><a href="navbar_multiple_top_bottom.html" class="legitRipple">Top + bottom</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="navbar_colors.html" class="legitRipple">Color options</a></li>
                                        <li><a href="navbar_sizes.html" class="legitRipple">Sizing options</a></li>
                                        <li><a href="navbar_hideable.html" class="legitRipple">Hide on scroll</a></li>
                                        <li><a href="navbar_components.html" class="legitRipple">Navbar components</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-tree5"></i> <span>Menu levels</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="#" class="legitRipple"><i class="icon-IE"></i> Second level</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple"><i class="icon-firefox"></i> Second level with child</a>
                                            <ul class="hidden-ul">
                                                <li><a href="#" class="legitRipple"><i class="icon-android"></i> Third level</a></li>
                                                <li>
                                                    <a href="#" class="has-ul legitRipple"><i class="icon-apple2"></i> Third level with child</a>
                                                    <ul class="hidden-ul">
                                                        <li><a href="#" class="legitRipple"><i class="icon-html5"></i> Fourth level</a></li>
                                                        <li><a href="#" class="legitRipple"><i class="icon-css3"></i> Fourth level</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#" class="legitRipple"><i class="icon-windows"></i> Third level</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" class="legitRipple"><i class="icon-chrome"></i> Second level</a></li>
                                    </ul>
                                </li>
                                <!-- /layout -->
                                <!-- Data visualization -->
                                <li class="navigation-header"><span>Data visualization</span> <i class="icon-menu" title="" data-original-title="Data visualization"></i></li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-graph"></i> <span>Echarts library</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="echarts_lines_areas.html" class="legitRipple">Lines and areas</a></li>
                                        <li><a href="echarts_columns_waterfalls.html" class="legitRipple">Columns and waterfalls</a></li>
                                        <li><a href="echarts_bars_tornados.html" class="legitRipple">Bars and tornados</a></li>
                                        <li><a href="echarts_scatter.html" class="legitRipple">Scatter charts</a></li>
                                        <li><a href="echarts_pies_donuts.html" class="legitRipple">Pies and donuts</a></li>
                                        <li><a href="echarts_funnels_chords.html" class="legitRipple">Funnels and chords</a></li>
                                        <li><a href="echarts_candlesticks_others.html" class="legitRipple">Candlesticks and others</a></li>
                                        <li><a href="echarts_combinations.html" class="legitRipple">Chart combinations</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-statistics"></i> <span>D3 library</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="d3_lines_basic.html" class="legitRipple">Simple lines</a></li>
                                        <li><a href="d3_lines_advanced.html" class="legitRipple">Advanced lines</a></li>
                                        <li><a href="d3_bars_basic.html" class="legitRipple">Simple bars</a></li>
                                        <li><a href="d3_bars_advanced.html" class="legitRipple">Advanced bars</a></li>
                                        <li><a href="d3_pies.html" class="legitRipple">Pie charts</a></li>
                                        <li><a href="d3_circle_diagrams.html" class="legitRipple">Circle diagrams</a></li>
                                        <li><a href="d3_tree.html" class="legitRipple">Tree layout</a></li>
                                        <li><a href="d3_other.html" class="legitRipple">Other charts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-stats-dots"></i> <span>Dimple library</span></a>
                                    <ul class="hidden-ul">
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Line charts</a>
                                            <ul class="hidden-ul">
                                                <li><a href="dimple_lines_horizontal.html" class="legitRipple">Horizontal orientation</a></li>
                                                <li><a href="dimple_lines_vertical.html" class="legitRipple">Vertical orientation</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Bar charts</a>
                                            <ul class="hidden-ul">
                                                <li><a href="dimple_bars_horizontal.html" class="legitRipple">Horizontal orientation</a></li>
                                                <li><a href="dimple_bars_vertical.html" class="legitRipple">Vertical orientation</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Area charts</a>
                                            <ul class="hidden-ul">
                                                <li><a href="dimple_area_horizontal.html" class="legitRipple">Horizontal orientation</a></li>
                                                <li><a href="dimple_area_vertical.html" class="legitRipple">Vertical orientation</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Step charts</a>
                                            <ul class="hidden-ul">
                                                <li><a href="dimple_step_horizontal.html" class="legitRipple">Horizontal orientation</a></li>
                                                <li><a href="dimple_step_vertical.html" class="legitRipple">Vertical orientation</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="dimple_pies.html" class="legitRipple">Pie charts</a></li>
                                        <li><a href="dimple_rings.html" class="legitRipple">Ring charts</a></li>
                                        <li><a href="dimple_scatter.html" class="legitRipple">Scatter charts</a></li>
                                        <li><a href="dimple_bubble.html" class="legitRipple">Bubble charts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-stats-bars"></i> <span>C3 library</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="c3_lines_areas.html" class="legitRipple">Lines and areas</a></li>
                                        <li><a href="c3_bars_pies.html" class="legitRipple">Bars and pies</a></li>
                                        <li><a href="c3_advanced.html" class="legitRipple">Advanced examples</a></li>
                                        <li><a href="c3_axis.html" class="legitRipple">Chart axis</a></li>
                                        <li><a href="c3_grid.html" class="legitRipple">Grid options</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-google"></i> <span>Google visualization</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="google_lines.html" class="legitRipple">Line charts</a></li>
                                        <li><a href="google_bars.html" class="legitRipple">Bar charts</a></li>
                                        <li><a href="google_pies.html" class="legitRipple">Pie charts</a></li>
                                        <li><a href="google_scatter_bubble.html" class="legitRipple">Bubble &amp; scatter charts</a></li>
                                        <li><a href="google_other.html" class="legitRipple">Other charts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-map5"></i> <span>Maps integration</span></a>
                                    <ul class="hidden-ul">
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Google maps</a>
                                            <ul class="hidden-ul">
                                                <li><a href="maps_google_basic.html" class="legitRipple">Basics</a></li>
                                                <li><a href="maps_google_controls.html" class="legitRipple">Controls</a></li>
                                                <li><a href="maps_google_markers.html" class="legitRipple">Markers</a></li>
                                                <li><a href="maps_google_drawings.html" class="legitRipple">Map drawings</a></li>
                                                <li><a href="maps_google_layers.html" class="legitRipple">Layers</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="maps_vector.html" class="legitRipple">Vector maps</a></li>
                                    </ul>
                                </li>
                                <!-- /data visualization -->
                                <!-- Extensions -->
                                <li class="navigation-header"><span>Extensions</span> <i class="icon-menu" title="" data-original-title="Extensions"></i></li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-puzzle4"></i> <span>Extensions</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="extension_image_cropper.html" class="legitRipple">Image cropper</a></li>
                                        <li><a href="extension_blockui.html" class="legitRipple">Block UI</a></li>
                                        <li><a href="extension_dnd.html" class="legitRipple">Drag and drop</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-popout"></i> <span>JQuery UI</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="jqueryui_interactions.html" class="legitRipple">Interactions</a></li>
                                        <li><a href="jqueryui_forms.html" class="legitRipple">Forms</a></li>
                                        <li><a href="jqueryui_components.html" class="legitRipple">Components</a></li>
                                        <li><a href="jqueryui_sliders.html" class="legitRipple">Sliders</a></li>
                                        <li><a href="jqueryui_navigation.html" class="legitRipple">Navigation</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-upload"></i> <span>File uploaders</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="uploader_plupload.html" class="legitRipple">Plupload</a></li>
                                        <li><a href="uploader_bootstrap.html" class="legitRipple">Bootstrap file uploader</a></li>
                                        <li><a href="uploader_dropzone.html" class="legitRipple">Dropzone</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-calendar3"></i> <span>Event calendars</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="extension_fullcalendar_views.html" class="legitRipple">Basic views</a></li>
                                        <li><a href="extension_fullcalendar_styling.html" class="legitRipple">Event styling</a></li>
                                        <li><a href="extension_fullcalendar_formats.html" class="legitRipple">Language and time</a></li>
                                        <li><a href="extension_fullcalendar_advanced.html" class="legitRipple">Advanced usage</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-sphere"></i> <span>Internationalization</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="internationalization_switch_direct.html" class="legitRipple">Direct translation</a></li>
                                        <li><a href="internationalization_switch_query.html" class="legitRipple">Querystring parameter</a></li>
                                        <li><a href="internationalization_on_init.html" class="legitRipple">Set language on init</a></li>
                                        <li><a href="internationalization_after_init.html" class="legitRipple">Set language after init</a></li>
                                        <li><a href="internationalization_fallback.html" class="legitRipple">Language fallback</a></li>
                                        <li><a href="internationalization_callbacks.html" class="legitRipple">Callbacks</a></li>
                                    </ul>
                                </li>
                                <!-- /extensions -->
                                <!-- Page kits -->
                                <li class="navigation-header"><span>Page kits</span> <i class="icon-menu" title="" data-original-title="Page kits"></i></li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-grid6"></i> <span>General pages</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="general_feed.html" class="legitRipple">Feed</a></li>
                                        <li><a href="general_widgets_content.html" class="legitRipple">Content widgets</a></li>
                                        <li><a href="general_widgets_stats.html" class="legitRipple">Statistics widgets</a></li>
                                        <li><a href="general_embeds.html" class="legitRipple">Embeds</a></li>
                                        <li><a href="general_faq.html" class="legitRipple">FAQ page</a></li>
                                        <li><a href="general_knowledgebase.html" class="legitRipple">Knowledgebase</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Blog</a>
                                            <ul class="hidden-ul">
                                                <li><a href="blog_classic_v.html" class="legitRipple">Classic vertical</a></li>
                                                <li><a href="blog_classic_h.html" class="legitRipple">Classic horizontal</a></li>
                                                <li><a href="blog_grid.html" class="legitRipple">Grid</a></li>
                                                <li><a href="blog_single.html" class="legitRipple">Single post</a></li>
                                                <li class="navigation-divider"></li>
                                                <li><a href="blog_sidebar_left.html" class="legitRipple">Left sidebar</a></li>
                                                <li><a href="blog_sidebar_right.html" class="legitRipple">Right sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Timelines</a>
                                            <ul class="hidden-ul">
                                                <li><a href="timelines_left.html" class="legitRipple">Left timeline</a></li>
                                                <li><a href="timelines_right.html" class="legitRipple">Right timeline</a></li>
                                                <li><a href="timelines_center.html" class="legitRipple">Centered timeline</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Gallery</a>
                                            <ul class="hidden-ul">
                                                <li><a href="gallery_grid.html" class="legitRipple">Media grid</a></li>
                                                <li><a href="gallery_titles.html" class="legitRipple">Media with titles</a></li>
                                                <li><a href="gallery_description.html" class="legitRipple">Media with description</a></li>
                                                <li><a href="gallery_library.html" class="legitRipple">Media library</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-wrench3"></i> <span>Service pages</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="service_sitemap.html" class="legitRipple">Sitemap</a></li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Invoicing</a>
                                            <ul class="hidden-ul">
                                                <li><a href="invoice_template.html" class="legitRipple">Invoice template</a></li>
                                                <li><a href="invoice_grid.html" class="legitRipple">Invoice grid</a></li>
                                                <li><a href="invoice_archive.html" class="legitRipple">Invoice archive</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Authentication</a>
                                            <ul class="hidden-ul">
                                                <li><a href="login_simple.html" class="legitRipple">Simple login</a></li>
                                                <li><a href="login_advanced.html" class="legitRipple">More login info</a></li>
                                                <li><a href="login_registration.html" class="legitRipple">Simple registration</a></li>
                                                <li><a href="login_registration_advanced.html" class="legitRipple">More registration info</a></li>
                                                <li><a href="login_unlock.html" class="legitRipple">Unlock user</a></li>
                                                <li><a href="login_password_recover.html" class="legitRipple">Reset password</a></li>
                                                <li><a href="login_hide_navbar.html" class="legitRipple">Hide navbar</a></li>
                                                <li><a href="login_transparent.html" class="legitRipple">Transparent box</a></li>
                                                <li><a href="login_background.html" class="legitRipple">Background option</a></li>
                                                <li><a href="login_validation.html" class="legitRipple">With validation</a></li>
                                                <li><a href="login_tabbed.html" class="legitRipple">Tabbed form</a></li>
                                                <li><a href="login_modals.html" class="legitRipple">Inside modals</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Error pages</a>
                                            <ul class="hidden-ul">
                                                <li><a href="error_403.html" class="legitRipple">Error 403</a></li>
                                                <li><a href="error_404.html" class="legitRipple">Error 404</a></li>
                                                <li><a href="error_405.html" class="legitRipple">Error 405</a></li>
                                                <li><a href="error_500.html" class="legitRipple">Error 500</a></li>
                                                <li><a href="error_503.html" class="legitRipple">Error 503</a></li>
                                                <li><a href="error_offline.html" class="legitRipple">Offline page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-people"></i> <span>User pages</span></a>
                                    <ul class="hidden-ul">
                                        <li><a href="user_pages_list.html" class="legitRipple">User list</a></li>
                                        <li><a href="user_pages_cards.html" class="legitRipple">User cards</a></li>
                                        <li><a href="user_pages_profile.html" class="legitRipple">Simple profile</a></li>
                                        <li><a href="user_pages_profile_tabbed.html" class="legitRipple">Tabbed profile</a></li>
                                        <li><a href="user_pages_profile_cover.html" class="legitRipple">Profile with cover</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-ul legitRipple"><i class="icon-cube3"></i> <span>Application pages</span></a>
                                    <ul class="hidden-ul">
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Task manager</a>
                                            <ul class="hidden-ul">
                                                <li><a href="task_manager_grid.html" class="legitRipple">Task grid</a></li>
                                                <li><a href="task_manager_list.html" class="legitRipple">Task list</a></li>
                                                <li><a href="task_manager_detailed.html" class="legitRipple">Task detailed</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Inbox</a>
                                            <ul class="hidden-ul">
                                                <li><a href="mail_list.html" class="legitRipple">Mail list</a></li>
                                                <li><a href="mail_list_detached.html" class="legitRipple">Mail list (detached)</a></li>
                                                <li><a href="mail_read.html" class="legitRipple">Read mail</a></li>
                                                <li><a href="mail_write.html" class="legitRipple">Write mail</a></li>
                                                <li class="navigation-divider"></li>
                                                <li><a href="chat_layouts.html" class="legitRipple">Chat layouts</a></li>
                                                <li><a href="chat_options.html" class="legitRipple">Chat options</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Search</a>
                                            <ul class="hidden-ul">
                                                <li><a href="search_basic.html" class="legitRipple">Basic search results</a></li>
                                                <li><a href="search_users.html" class="legitRipple">User search results</a></li>
                                                <li><a href="search_images.html" class="legitRipple">Image search results</a></li>
                                                <li><a href="search_videos.html" class="legitRipple">Video search results</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Job search</a>
                                            <ul class="hidden-ul">
                                                <li><a href="job_list_cards.html" class="legitRipple">Cards view</a></li>
                                                <li><a href="job_list_panel.html" class="legitRipple">Panel view</a></li>
                                                <li><a href="job_detailed.html" class="legitRipple">Job detailed</a></li>
                                                <li><a href="job_apply.html" class="legitRipple">Apply</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Learning</a>
                                            <ul class="hidden-ul">
                                                <li><a href="learning_list.html" class="legitRipple">List view</a></li>
                                                <li><a href="learning_grid.html" class="legitRipple">Grid view</a></li>
                                                <li><a href="learning_detailed.html" class="legitRipple">Detailed course</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-ul legitRipple">Ecommerce set</a>
                                            <ul class="hidden-ul">
                                                <li><a href="ecommerce_product_list.html" class="legitRipple">Product list</a></li>
                                                <li><a href="ecommerce_product_grid.html" class="legitRipple">Product grid</a></li>
                                                <li><a href="ecommerce_orders_history.html" class="legitRipple">Orders history</a></li>
                                                <li><a href="ecommerce_customers.html" class="legitRipple">Customers</a></li>
                                                <li><a href="ecommerce_pricing.html" class="legitRipple">Pricing tables</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- /page kits -->

                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->

                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Datatables</span> - Select</h4>
                            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                        </div>

                        <div class="heading-elements">
                            <div class="heading-btn-group">
                                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="breadcrumb-line breadcrumb-line-component">
                        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li><a href="datatable_extension_select.html">Datatables</a></li>
                            <li class="active">Select</li>
                        </ul>

                        <ul class="breadcrumb-elements">
                            <li><a href="#" class="legitRipple"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    Settings
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">

                    @RenderBody()

                    <!-- Footer -->
                    <div class="footer text-muted">
                        © 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>
